{% extends 'base.html.twig' %}

{% block title %}
    {{ author.name ?? 'Новый автор' }}
{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{ author.name ?? 'Новый автор' }}</h1>
        <form class="d-flex flex-column gap-3 my-3" method="post" action="/authors/{{ author.id }}">
            {% if author.id %}<input type="hidden" name="_method" value="PUT"/>{% endif %}
            <div class="row">
                <label class="col-3" for="">Имя</label>
                <input class="col-9 form-control" type="text" name="name" value="{{ author.name }}">
            </div>
            <div class="row">
                <label class="col-3" for="">Фамилия</label>
                <input class="col-9 form-control" type="text" name="surname" value="{{ author.surname }}">
            </div>
            <div class="row">
                <label class="col-3" for="">Отчество</label>
                <input class="col-9 form-control" type="text" name="patronymic" value="{{ author.patronymic }}">
            </div>

            <button class="btn btn-primary">Сохранить</button>
        </form>
        {% if msg  is defined %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        {% if errors  is defined %}
            <div class="alert alert-danger" role="alert">
                <ul>

                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

            </div>
        {% endif %}
        {% if author.id  != null %}

            <h2 class="my-3">Книги автора</h2>
            <ul>
                {% for book in author.getBooks() %}

                    <li class="d-flex gap-3">
                        <a href="{{ path('book', {id : book.id}) }}">{{ book.name }} - {{ book.year }}</a>
                        <form action="{{ path('author_book_delete') }}" method="POST">
                            <input type="hidden" name="authorId" value="{{ author.id }}">
                            <input type="hidden" name="bookId" value="{{ book.id }}">
                            <button class="btn btn-primary">Удалить запись</button>
                        </form>

                    </li>
                {% endfor %}
            </ul>

            <h3>Добавить книгу</h3>
            <h6>%Like% Поиск (результаты отобразятся в селекте)</h6>

            <form id="search-form">

            <label for="" class="d-flex gap-3">
                <input class="form-control" type="text" id="bookName">
                    <button id="search-btn" class="btn btn-primary">
                        Поиск
                    </button>
                </label>
            </form>

            <form action="{{ path('author_book') }}" method="POST" class="d-flex gap-3">
                <input type="hidden" name="authorId" value="{{ author.id }}">
                <select class="form-control" id="bookSelect" type="text" name="bookId">
                </select>
                <button class="btn btn-primary">Добавить</button>
            </form>
        {% endif %}

    </div>
    <script>
        $(document).ready(() => {
            $('#search-form').on('submit', (e) => {
                e.preventDefault();
                $.ajax({
                    url: '/books/search?name=' + $('#bookName').val(),
                    success: msg => {
                        console.log(msg)
                        if(msg.length == 0){
                            alert('Ничего не найдено')
                        }
                        $('#bookSelect').html("");
                        msg.forEach(book => {
                            $('#bookSelect').append('<option value="'+book.id+'">'+book.name +' - ' + book.year+ '</option>')
                        })

                    },

                    error: error => {
                        alert("Произошла непредвиденная ошибка. Ошибка в консоле")
                        console.log(error)
                    }
                });
            })
        })
    </script>
{% endblock %}
