{% extends 'base.html.twig' %}

{% block title %}Hello authorController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between">

            <h1 class="mb-3">Авторы</h1>
            <div>

                <a href="/authors/new" class="btn btn-primary">Добавить</a>
            </div>

        </div>

        {% for author in authors %}
            <div class="row p-3 border border-1">
                <div class="col-1">{{ author.id }}</div>
                <div class="col-2">
                    <a href="/authors/{{ author.id }}">
                        {{ author.name }}
                    </a>
                </div>
                <div class="col-2">{{ author.surname }}</div>
                <div class="col-2">{{ author.patronymic }}</div>
                <div class="col-3">{% for book in  author.getBooks() %} {{ book.name }} {% endfor %}</div>
                <div class="col-1">
                    <form method="POST" action="/authors/delete/{{ author.id }}">
                        <button class="btn btn-primary">Удалить</button>
                    </form>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
