{% extends 'base.html.twig' %}

{% block title %}Авторы{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between">

            <h1 class="mb-3">Авторы</h1>
            <div>

                <a href="{{ path('author_new') }}" class="btn btn-primary">Добавить</a>
            </div>

        </div>

        <div class="row p-3 border border-1">

        <div class="col-1">id</div>
        <div class="col-2">
            Имя
        </div>
        <div class="col-2">Фамилия</div>
        <div class="col-2">Отчество</div>
        <div class="col-3">Книги</div>
            <div class="col-1"></div>
        </div>
        {% for author in authors %}
            <div class="row p-3 border border-1">
                <div class="col-1">{{ author.id }}</div>
                <div class="col-2">
                    <a href="{{ path('author', {id: author.id}) }}">
                        {{ author.name }}
                    </a>
                </div>
                <div class="col-2">{{ author.surname }}</div>
                <div class="col-2">{{ author.patronymic }}</div>
                <div class="col-3">{% for book in  author.getBooks() %}<a
                        href="{{ path('book', {id: book.id}) }}">{{ book.name }}</a>, {% endfor %}</div>
                <div class="col-1">
                    <form method="POST" action="{{ path('author_delete', {id: author.id}) }}">
                        <button class="btn btn-primary">Удалить</button>
                    </form>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
