{% extends 'base.html.twig' %}

{% block title %}{{ book.name ?? 'Новая книга' }}{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{ book.name ?? 'Новая книга' }}</h1>
        <form class="d-flex flex-column gap-3 my-3" method="post" action="/books/{{ book.id }}" method="POST" enctype="multipart/form-data">
            {% if book.id %}<input type="hidden" name="_method" value="PUT"/>{% endif %}

            <div class="row">
                <label class="col-3" for="">Обложка</label>
                <input class="col-9 form-control" type="file" name="image" >
            </div>
            <div class="row">
                <label class="col-3" for="">Название книги</label>
                <input class="col-9 form-control" type="text" name="name" value="{{ book.name }}">
            </div>
            <div class="row">
                <label class="col-3" for="">Год</label>
                <input class="col-9 form-control" type="text" name="year" value="{{ book.year }}">
            </div>
            <div class="row">
                <label class="col-3" for="">ISBN</label>
                <input class="col-9 form-control" type="text" name="isbn" value="{{ book.isbn }}">
            </div>
            <div class="row">
                <label class="col-3" for="">Количество страниц</label>
                <input class="col-9 form-control" type="text" name="pageNumber" value="{{ book.pageNumber }}">
            </div>
            <button class="btn btn-primary">Сохранить</button>
        </form>
        {% if msg  is defined %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        {% if errors  is defined %}
            <div class="alert alert-danger" role="alert">
                <ul>

                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>

            </div>
        {% endif %}
        {% if book.id  != null %}

        <h2 class="my-3">Авторы книги</h2>
        <ul>
            {% for author in book.getAuthors() %}

                <li class="d-flex gap-3">
                    <a href="{{ path('author', {id : author.id}) }}">{{ author.name }} {{ author.surname }} {{ author.patronymic }}</a>
                    <form action="{{ path('author_book_delete') }}" method="POST">
                        <input type="hidden" name="authorId" value="{{ author.id }}">
                        <input type="hidden" name="bookId" value="{{ book.id }}">
                        <button class="btn btn-primary">Удалить запись</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <h3>Добавить автора (поиск реализован только на странице автора)</h3>
        <form action="{{  path('author_book') }}" method="POST">
            <input type="text" name="authorId">
            <label for="">id
            <input type="hidden" name="bookId" value="{{ book   .id }}">
            </label>
            <button class="btn btn-primary">Добавить</button>
        </form>
        {%  endif %}
    </div>

{% endblock %}
